# Pandas
- Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures ans data analysis tools for the python programing language.
- Pandas also allows for various data manipulation operations and for data cleaning features, including selecting a subset, creating drived columns, sorting, joining, filling, replacing, summary statics and plotting.

In [1]:
import pandas as pd

### Pandas Data table representation
- `DataFame` is a `2-dimentional` data structrue that can store data of different types(including `characters, integers, floating point values, categorical data and more`) in columns.
- it similar to `sparesheet`, a `SQL` table or the `data.frame` in `R`.

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr.William Henry",
            "Bonnell, Miss.Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Gender": ["male", "male", "female"],
    }
)

In [3]:
df

                      Name  Age  Gender
0  Braund, Mr. Owen Harris   22    male
1  Allen, Mr.William Henry   35    male
2  Bonnell, Miss.Elizabeth   58  female

**Each column in a `DataFrame` is `Series` :**

In [4]:
# Working with "Age" data only
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
# We can create a series from scrach
ages = pd.Series([22, 35, 58], name="Age")

In [6]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

- A pandas `Series` has no column labels, as it is just a single column of a `DataFrame`. 
- A Series does have row labels.